@page "/Register"
@using BookStore_UI.Models
@using BookStore_UI.Contracts

@inject IAuthenticationRepository _authRepo
@inject NavigationManager _navMan

<div class="card">
    <h3 class="card-title">Register Now</h3>
    @if (isFailed)
    {
        <div class="alert alert-danger">
            <p>Something went wrong with the registration attempt.</p>
        </div>
    }

    <div class="card-body">
        <EditForm Model="model" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="email1">Email address</label>
                <InputText Id="email" class="form-control" @bind-value="model.EmailAddress" />
                <ValidationMessage For="@(()=>model.EmailAddress)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" class="form-control" @bind-value="model.Password" />
                <ValidationMessage For="@(()=>model.Password)" />
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <InputText Id="confirmpassword" type="password" class="form-control" @bind-value="model.ConfirmPassword" />
                <ValidationMessage For="@(()=>model.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    private RegistrationModel model = new RegistrationModel();
    bool isFailed = false;
    private async Task HandleRegistration()
    {
        var response = await _authRepo.Register(model);

        if (response)
        {
            _navMan.NavigateTo("/");
        }
        else
        {
            isFailed = true;
        }
    }
}
